.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.block-tabs {
  display: flex;
  margin-bottom: 10px;
}

.tabs {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #ccc;
  margin-right: 10px;
  border-radius: 5px 5px 0 0;
}

.tabs:hover {
  background-color: #0056b3;
}

.active-tabs {
  background-color: #fff;
  color: #007bff;
}

.content-tabs {
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 300px;
  width: 50%;
}
